.footer {
    background-color: var(--grey-color);
    padding: 4rem 0 2rem 0;
  } 
  
  .footerList {
    display: flex;
    justify-content: center;
  }
  
  .footerLink {
    font-size: 2rem;
    color: var(--white-color);
    margin: 0 2rem;
    background-color: var(--grey-color);
    padding: 0.3rem 3rem;
    letter-spacing: 0.3rem;
    transition: all 0.2s;
  }
  
  .footerLink:hover {
    transform: rotate(-10deg);
    box-shadow: 0 2rem 3rem #000;
  }
  
  .footer-paragraph {
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
    letter-spacing: 0.2rem;
    margin-top: 5rem;
  }
  /* End of Footer */
  
  @media (max-width: 1000px) {
    .footerLink {
      padding: 0.3rem 2rem;
      margin: 0 1rem;
    }
  }
  
  @media (max-width: 800px) {
    .footerList {
      flex-direction: column;
      align-items: center;
    }
  
    .footerLink {
      margin: 1rem 0;
    }
  }
  
  @media (max-width: 650px) {
  }
  
  @media (max-width: 500px) {
    html {
      font-size: 45%;
    }
  }
  