.foot {
  margin:16px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #90a4ae ;
  }
  
  .foot a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  }
  
  .foot a:hover {
  background-color: #37474f;
  border-radius: 25px;
  color:#b0bec5;

  }
  
  .foot a.active {
  color: white;
  }
  
  .foot .searchContainer {
  
  float: right;
  }
  
  .foot input[type=text] {
      border-radius: 25px;
      padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  }
  
  .foot .searchContainer button {
      
  font-family: Times ;
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #607d8b;
  font-size: 17px;
  border: 2px black;
  cursor: pointer;
  }
  
  .foot .searchContainer button:hover {
  background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
  .foot .searchContainer {
      float: none;
  }
  .foot a, .foot input[type=text], .foot .searchContainer button {
      float: right;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
  }
  .foot input[type=text] {
      border: 1px solid #ccc;  
  }
}