.load{
    height: 37em;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    border-radius: 25px;
    
    margin:3px;
}
h2{
    color:#263238;
}
.twirl{
    border: 10px solid #eceff1;
    border-radius: 50%;
    border-top: 10px solid #607d8b;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }