*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
}
* h2,p{
    text-align: center;
}
.c3 h3,tr{
    margin:15px;
}
.table2 tr , c3 h2
{
    margin:15px;
    color: black;
}
.table2 th:nth-child(1){
    transform: rotate(270deg);
    text-align: center;
}
.table2 tr{
    border-bottom: 3px solid black;
}
.c3{
    flex:1;
    border-radius: 25px;
    margin:5px;
    background-color: #b0bec5;
}

img{

    border-radius: 20px;
}
img:hover{
    border-radius: 4px;
    font-weight: normal;
    background-color: #607d8b;
}
