.topnav {
    margin: 32px;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    position: sticky;
    top: 32px;
}
.topnav a {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    padding: 16px 32px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 50px;
    transition: 0.2s;
}
.topnav a > i {
    margin-right: 8px;
    color: rgba(255, 255, 255, 0.75);
}
.topnavLHS a {
    margin-left: -16px;
}
.topnavLHS a:first-child {
    margin-left: 0;
}
.topnav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.topnav a.active {
    color: white;
}

.searchContainer {
    display: inline-block;
}
.searchContainer input[type="text"] {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 8px 24px;
    color: rgba(255, 255, 255, 0.75);
    transform: translateY(-2px);
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.35);
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.35);
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.35);
}

@media screen and (max-width: 600px) {
    .topnav .searchContainer {
        float: none;
    }
    .topnav a,
    .topnav input[type="text"],
    .topnav .searchContainer button {
        float: right;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
    }
}
