*{
    font-size: 25px;
}.HomePage{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.Side{
    flex:1;
    margin-top: 15px;
}
.Main{
    flex:4.7; 
    margin-left: 20px;
    margin-top: 20px;
}